<div class="app-main" ng-controller="WelcomeController">
	<h2>Welcome to DevTest Bank</h2>
	<p>To get started, click the button below to create a new account.</p>
	<a class="btn btn-lg btn-primary" href="#NewAccount">Create Account</a>
</div>

